/* Styles de base */
body,
html {
  font-family: Arial, sans-serif;
  padding: 10px 20px;
  background-color: #f4f6f8; /* Gris clair */
  color: #333;
}

/* Centrer le titre */
h1 {
  text-align: center;
  color: #2c3e50; /* Bleu foncé */
}

/* Chat container et chat box */
.chat-container {
  height: calc(100vh - 120px);
  width: 100%;
  border: 2px solid #2c3e50; /* Bleu foncé */
  background-color: #ffffff; /* Fond blanc pour le contraste */
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-box {
  overflow-y: scroll;
  background-color: #ecf0f1; /* Très clair pour contraste */
  border: 1px solid #ccc;
  padding: 10px;
  flex: 1 1;
  border-radius: 8px 8px 0 0;
}

/* Styles des messages utilisateur et assistant */
.message-container {
  width: 100%;
  display: flex;
}

.message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 12px;
  width: fit-content;
}

.message-container.user {
  justify-content: end;
}

.message-container.assistant {
  justify-content: start;
}

.message-container.user .message {
  background: #3498db; /* Bleu clair pour l'utilisateur */
  color: #fff;
}

.message-container.assistant .message {
  background: #e0e4e8; /* Gris doux pour l'assistant */
  color: #333;
}

/* Zone de saisie de message */
.chat-input-container {
  min-height: 40px;
  flex: 0 0;
  display: flex;
  background-color: #ecf0f1; /* Clair et doux */
  border-radius: 0 0 8px 8px;
}

#user-input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Boutons - send et close */
button, #close-popup {
  width: 25%;
  padding: 10px;
  border: none;
  background-color: #2c3e50; /* Bleu foncé */
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

button:hover:not(:disabled), #close-popup:hover {
  background-color: #1a252f; /* Bleu encore plus foncé au survol */
}

/* Style de la popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Classe cachée */
.hidden {
  display: none;
}
